---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MenuHamb from "../components/MenuHamb.astro";
---

<Layout title="Welcome to Astro.">
  <MenuHamb />
  <main class="image-container-3">
    <h1>ALMUERZOS Y EVENTOS</h1>
    <div class="card">
      <h2>SALÓN EXCLUSIVO</h2>
      <p>
        Almuerzo por pasos de la historia de SAMPA. Ideal para fechas
        especiales, almuerzo de negocios o eventos corporativos.
      </p>
      <h2>~</h2>
      <p>
        10 PASOS (opcional con degustación de vinos federales)<br /> &gt; de 6 a
        10 personas | <strong>más información</strong>
      </p>

      <h2>11AM: VERMUT</h2>
      <p>
        Encuentro matutino para celebrar cualquier tipo de ocasión. Salón y
        patio despejados para circular disfrutando de pequeños bocados que pasan
        en bandeja
      </p>
      <h2>~</h2>
      <p>
        Vermut y sodas frutales libres + 6 (seis) opciones de tapas<br /> &gt; hasta
        30 personas | <strong>más información</strong>
      </p>

      <h2>INFORMAL</h2>
      <p>Almuerzo a la carta con atención exclusiva en el salón</p>
      <h2>~</h2>
      <p>&gt; de 8 a 12 personas | <strong>más información</strong></p>

      <h2>FESTEJO</h2>
      <p>
        Servicio de catering para tener a SAMPA en el sitio que vos elijas | más
        información
      </p>

      <p>
        Para consultarnos por cualquier tipo de evento, podes enviarnos un mail
        con el boton de abajo!
      </p>

      <div class="boton-ver-mas">
        <a href="/Mail">clickeamé</a>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
    color: white;
    margin-top: 2rem;
  }

  .card {
    padding: 1rem 1rem;
    background-color: white;
    margin-top: 3rem;
  }

  .card p {
    margin: 0.5rem 0rem;
  }

  .card h2 {
    margin: 0;
    font-size: large;
    font-weight: 800;
  }

  .card h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .image-container-3 {
    background-image: url(../../public/assets/multimedia/IMG_0400.JPG);
    background-size: cover;
    background-position: center;
    height: 35vh;
    width: 100%;
  }
  .boton-ver-mas {
    margin-top: 5rem;
    background-color: black;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    max-width: none;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
  }

  .boton-ver-mas :hover,
  .boton-ver-mas :focus {
    opacity: 0.75;
  }
  @media (min-width: 751px) {
    .card {
      margin-top: 10rem;
    }
    main {
      max-width: 130ch;
    }
  }
</style>
