---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MenuHamb from "../components/MenuHamb.astro";
---

<Layout title="Home">
  <MenuHamb />
  <main class="image-container">
    <h1>SAMPA <span class="noventi-v">99%v</span></h1>
    <div class="localizacion">
      <h3>SCALABRINI ORTIZ 769</h3>
      <h3>VILLA CRESPO.</h3>
      <h3>BUENOS AIRES.</h3>
      <h3>ARGENTINA.</h3>
    </div>
  </main>
</Layout>
<div class="intro">
  <p class="title-intro">HOLA.</p>
  <div class="text-intro">
    <p>SAMPA es un restaurante.</p>
    <p>
      Partimos de la parrilla y el mundo vejetal, de hongos y las algas en
      conjunto con recetas y técnicas <tradicionales class="a"></tradicionales>
    </p>
    <p>
      No importa el origen de la cocina mientras exista una historia que nos
      ligue. No cocinamos animales. Usamos huevos y lacteos porque nos gustan.
    </p>
    <p>
      Somos 99% vegetarianos. Cultivamos nuestras hierbas, los brotes y chiles
      que usamos. Apostamos por la agroecologia y los pequeños productores
      siempre que podemos elegir.
    </p>
    <p>
      Nuestro protocolo de servicio se basa mas en el cariño que en la etiqueta.
    </p>Nos gusta: el vino, que buscamos por todo el pais, divertirnos y
    trabajar en equipo.
  </div>
</div>
<div class="index-container">
  <Layout title="Introduccion">
    <main class="image-container-3">
      <h2>ALMUERZOS Y EVENTOS</h2>
      <h3>~</h3>
      <h4>OPCIONES PARA UN EVENTO PRIVADO</h4>
      <div class="boton-ver-mas">
        <a href="/Eventos">VER MAS</a>
      </div>
    </main>
  </Layout>
  <Layout title="Almuerzos">
    <main class="image-container-2">
      <h2>REGALOS</h2>
      <h3>~</h3>
      <h4>PROXIMAMENTE</h4>
    </main>
  </Layout>
</div>
<Layout title="Eventos">
  <main class="image-container-4">
    <h1>SAMPA <span class="noventi-v">99%v</span></h1>
    <div class="">
      <h3>HORARIO</h3>
      <h3>MARTES A SABADOS</h3>
      <h3>20:00 a 01:00</h3>
    </div>
    <div class="center-container">
      <div class="icons-wrapper">
        <a href="https://www.instagram.com/sampa99v">
          <i class="fa fa-brands fa-instagram fa-2x" style="padding: 10px 10px"
          ></i></a
        >
        <a href="https://goo.gl/maps/jm9aK9piJYvz1raR6">
          <i class="fa fa-map-marker-alt fa-2x" style="padding: 10px 10px"
          ></i></a
        >
        <a href="mailto:sampa99v@gmail.com"
          ><i class="fa fa-envelope fa-2x" style="padding: 10px 10px"></i></a
        >
        <a href="https://wa.me/+5491151525425"
          ><i class="fa fa-whatsapp fa-2x" style="padding: 10px 10px"></i></a
        >
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
    font-family: "Rubik", sans-serif;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
    color: white;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    color: white;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: white;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: white;
  }

  .localizacion {
    display: block;
    margin-top: 25rem;
  }
  /* .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  } */
  .intro {
    max-width: 560px;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
  }
  .title-intro {
    font-weight: 800;
    margin-left: 4rem;
  }

  .text-intro {
    font-weight: 400;
    margin-left: 2rem;
  }

  .boton-ver-mas {
    margin-top: 5rem;
    background-color: black;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    max-width: none;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
  }

  .boton-ver-mas a {
    text-decoration: none;
    color: inherit;
  }

  .boton-ver-mas :hover,
  .boton-ver-mas :focus {
    opacity: 0.75;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @media screen and (min-width: 600px) {
    .index-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  .image-container {
    background-image: url(../../public/assets/multimedia/IMG_4592.JPG);
    background-size: cover;
    background-position: center;
    height: 106vh;
    width: 100%;
  }
  .image-container-2 {
    background-image: url(../../public/assets/multimedia/IMG_0287.JPG);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
  }
  .image-container-3 {
    background-image: url(../../public/assets/multimedia/IMG_0368_jpg.JPG);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
  }

  .image-container-4 {
    background-image: url(../../public/assets/multimedia/IMG_4592.JPG);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons-wrapper {
    display: flex;
  }
  .icons-wrapper a {
    color: #fff;
    margin: 0 1rem;
  }
  .icons-wrapper i.fa {
    font-size: 50px;
  }

  .noventi-v {
    font-weight: 600;
  }

  @media (min-width: 751px) {
    main {
      max-width: 140ch;
    }
  }
</style>
