---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MenuHamb from "../components/MenuHamb.astro";
import Form from "../components/Form.astro";
---

<Layout title="Welcome to Astro.">
  <MenuHamb />
  <main class="image-container-3">
    <h1>ENVIANOS TU CORREO</h1>
    <Form />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
    color: white;
    margin-top: 2rem;
  }

  .card {
    padding: 1rem 1rem;
    background-color: white;
    margin-top: 3rem;
  }

  .card p {
    margin: 0.5rem 0rem;
  }

  .card h2 {
    margin: 0;
    font-size: large;
    font-weight: 800;
  }

  .card h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .image-container-3 {
    background-image: url(../../public/assets/multimedia/IMG_0400.JPG);
    background-size: cover;
    background-position: center;
    height: 35vh;
    width: 100%;
  }
  .boton-ver-mas {
    margin-top: 5rem;
    background-color: black;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    max-width: none;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
  }

  .boton-ver-mas :hover,
  .boton-ver-mas :focus {
    opacity: 0.75;
  }
  @media (min-width: 751px) {
    .card {
      margin-top: 10rem;
    }
    main {
      max-width: 130ch;
    }
  }
</style>
