---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<div class="card">
  <div class="container">
    <p>{content}</p>
  </div>
</div>

<style>
  .card {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .container {
    padding: 2px 16px;
  }
</style>
