<script>
  const menu = document.querySelector(".menu");
  const menuItems = document.querySelectorAll(".menuItem");
  const hamburger = document.querySelector(".hamburger");
  const closeIcon = document.querySelector(".closeIcon");
  const menuIcon = document.querySelector(".menuIcon");

  function toggleMenu() {
    if (menu?.classList.contains("showMenu")) {
      menu.classList.remove("showMenu");
      closeIcon.style.display = "none";
      menuIcon.style.display = "block";
    } else {
      menu?.classList.add("showMenu");
      closeIcon.style.display = "block";
      menuIcon.style.display = "none";
    }
  }

  hamburger.addEventListener("click", toggleMenu);

  menuItems.forEach(function (menuItem) {
    menuItem.addEventListener("click", toggleMenu);
  });
</script>

<ul class="menu">
  <!-- <li>
    <a
      class="menuItem"
      target="_blank"
      href="../../public/assets/pdfs/CartaDia.pdf">DÍA</a
    >
  </li> -->
  <li>
    <a
      class="menuItem"
      target="_blank"
      href="../../public/assets/pdfs/CartaNoche.pdf">NOCHE</a
    >
  </li>
  <!-- <li>
    <a
      class="menuItem"
      target="_blank"
      href="../../public/assets/pdfs/CartaDia.pdf">BRUNCH</a
    >
  </li> -->
  <li>
    <a
      class="menuItem"
      target="_blank"
      href="../../public/assets/pdfs/CartaVinos.pdf">VINOS</a
    >
  </li>
  <li></li>
  <li><a class="menuItem" href="/Eventos">ALMUERZOS Y EVENTOS</a></li>
  <!-- <li><a class="menuItem" href="#">REGALOS</a></li> -->
  <li></li>
  <li><a class="menuItem" href="mailto:gonzodim@gmail.com">MAIL</a></li>
  <li>
    <a class="menuItem" href="https://www.instagram.com/sampa99v/?hl=es-la"
      >INSTAGRAM</a
    >
  </li>
  <li><a class="menuItem" href="https://wa.me/1564717530">WHATSAPP</a></li>
  <li></li>
  <li><a class="menuItem" href="/">HOME</a></li>
</ul>
<button class="hamburger">
  <i class="menuIcon material-icons">menu</i>
  <i class="closeIcon material-icons">close</i>
</button>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .menuItem {
    display: block;
    margin: 0px 4rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
  }

  .menuItem:hover {
    color: blueviolet;
  }

  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60%;
    z-index: 99;
    background: white;
    opacity: 0.8;
    color: white;
    padding-top: 5rem;
  }

  .showMenu {
    transform: translateY(0);
  }
</style>
